body {
  background: #f1f2f6;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  width: 50%;
  margin: 50px auto;
}

.fa {
  cursor: pointer;
}

i.fa.fa-trash {
  font-size: 1.5rem;
  color: #ff6b81;
  cursor: pointer;
}

.item-list {
  display: flex;
  background: #ffffff;
  box-shadow: 1px 1px 2px #888888;
  padding: 32px 29px 31px 51px;
  margin: 5px;
}

.item-list div {
  flex: 1;
}

.check-all {
  margin: 32px 51px;
}

.order-btns, .trash {
  display: grid;
  text-align: right;
}

.fa.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

